<div class="row">
	<div class="col s12">
		<h1><%= answer.title %></h1>
		<span class="chip"><i class="fas fa-eye"></i> <%= answer.views %></span>
		<p><%- answer.body %></p>
	</div>
</div>

<div class="row">
	<div id="survey" class="col s12 green lighten-5 center-align">
		<p>¿Qué le parece esta explicación?</p>
		<a class="waves-effect waves-light btn-small green spacing" onclick="vote('<%= answer.id %>','up')"><i class="material-icons left">thumb_up</i>Buena</a>
		<a class="waves-effect waves-light btn-small red" onclick="vote('<%= answer.id %>','down')"><i class="material-icons left">thumb_down</i>Mala</a>
	</div>
</div>

<div class="bottom-space"></div>

<div class="fixed-action-btn hide-on-share">
	<a class="btn-floating btn-large waves-effect waves-light" href="#!" onclick="apretaste.send({'command':'AYUDA FAQ'})">
		<i class="material-icons">arrow_back</i>
	</a>
</div>
